@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 45%;
    --primary-foreground: 210 40% 98%;
    --secondary: 217.2 32.6% 15%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 15%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 15%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 15%;
    --input: 217.2 32.6% 15%;
    --ring: 217.2 91.2% 45%;
    --chart-1: 217.2 91.2% 45%;
    --chart-2: 217.2 32.6% 15%;
    --chart-3: 15.8 91.9% 51.2%;
    --chart-4: 162.6 76.4% 36.3%;
    --chart-5: 215 20.2% 65.1%;
    --radius: 0.3rem;
  }
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 45%;
    --primary-foreground: 210 40% 98%;
    --secondary: 217.2 32.6% 15%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 15%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 15%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 15%;
    --input: 217.2 32.6% 15%;
    --ring: 217.2 91.2% 45%;
    --chart-1: 217.2 91.2% 45%;
    --chart-2: 217.2 32.6% 15%;
    --chart-3: 15.8 91.9% 51.2%;
    --chart-4: 162.6 76.4% 36.3%;
    --chart-5: 215 20.2% 65.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@media print {
  @page {
    size: A4 landscape;
    margin: 1cm;
  }
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}
