@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 180 100% 94.1%;
    --foreground: 224 71.4% 4.1%;
    --card: 180 50% 98%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 180 50% 98%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 180 100% 25.1%;
    --primary-foreground: 180 100% 98%;
    --secondary: 180 20% 90%;
    --secondary-foreground: 180 100% 25.1%;
    --muted: 180 15% 92%;
    --muted-foreground: 224 7.1% 44.1%;
    --accent: 181 100% 85%;
    --accent-foreground: 180 100% 25.1%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 180 20% 85%;
    --input: 180 20% 88%;
    --ring: 180 100% 25.1%;
    --chart-1: 180 100% 25.1%;
    --chart-2: 181 82% 45%;
    --chart-3: 182 72% 55%;
    --chart-4: 183 62% 65%;
    --chart-5: 184 52% 75%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 224 71.4% 4.1%;
    --sidebar-primary: 180 100% 25.1%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 180 30% 94%;
    --sidebar-accent-foreground: 180 100% 25.1%;
    --sidebar-border: 180 15% 88%;
    --sidebar-ring: 180 100% 25.1%;
  }
  .dark {
    --background: 222 47.4% 11.2%;
    --foreground: 210 40% 98%;
    --card: 222 47.4% 11.2%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47.4% 11.2%;
    --popover-foreground: 210 40% 98%;
    --primary: 180 100% 35%;
    --primary-foreground: 210 40% 98%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 181 100% 74.3%;
    --accent-foreground: 222.2 47.4% 1.2%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 180 100% 45%;
    --chart-1: 180 100% 35%;
    --chart-2: 181 82% 45%;
    --chart-3: 182 72% 55%;
    --chart-4: 183 62% 65%;
    --chart-5: 184 52% 75%;
    --sidebar-background: 222 47.4% 11.2%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 180 100% 35%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 217.2 32.6% 17.5%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 217.2 32.6% 17.5%;
    --sidebar-ring: 180 100% 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
